{% extends "admin_base.html" %}
{% block title %} Ads Management {% endblock %}
{% block body %}

    <!-- -->
    <div id="" class="md:w-full flex md:items-center flex-col">
      <main class="main !mt-14 !mb-14 flex flex-col gap-4">
        <!-- body  -->
        <div class="flex">
          <h2
            class="font-semibold sm:font-bold text-base sm:text-lg b-color px-2"
          >
            Ads Management
          </h2>
        </div>

        <div class="flex flex-col gap-7 rounded-xl">
          <form id="editForm" class="flex flex-col gap-3">
            
          <div class="flex justify-end">
            <button type="submit" class="flex bg-[#5c0931] hover:bg-white hover:text-[#5c0931] hover:border border-[#5c0931] p-1.5 px-2.5 cursor-pointer text-sm sm:text-base font-medium whitespace-nowrap border rounded-xl text-white">Submit</button>
          </div>

            <!-- Find Job  -->
            <div
              class="flex flex-col gap-2 items-center justify-center bg-gray-100 px-3 py-4 rounded-xl shadow-sm shadow-black/40"
            >
              <div class="flex justify-start items-start">
                <h4 class="text-base lg:text-xl font-bold b-color">
                  Update Find-Job Images
                </h4>
              </div>
              <div class="flex justify-center items-center flex-wrap gap-6">
                <!-- card 1  -->
                <div
                  class="flex justify-between border px-4 py-2 rounded-xl shadow-sm shadow-black/60 bg-white"
                >
                  <div
                    class="flex justify-center items-center w-full flex-col gap-2 image-upload"
                  >
                    <div
                      class="flex justify-center items-center w-52 h-24 c-md:w-64 c-md:h-32"
                    >
                      <img
                        src="{{url_for('static', filename='./src/assets/Banner Digital Advertising.webp')}}"
                        alt=""
                        class="profile-image w-full h-full object-fit rounded-xl"
                      />
                    </div>

                    <div class="flex gap-0.5 justify-center items-center">
                      <div class="flex">
                        <input
                          type="file"
                          name="file"
                          id="sign_In_1"
                          class="hidden photo-upload"
                        />
                        <label
                          for="sign_In_1"
                          class="flex bg-[#5c0931] hover:bg-white hover:text-[#5c0931] hover:border border-[#5c0931] p-1 px-2 cursor-pointer text-xs sm:text-sm font-medium whitespace-nowrap border rounded-xl text-white"
                          >Upload New</label
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <!-- card 2  -->
                <div
                  class="flex justify-between border px-4 py-2 rounded-xl shadow-sm shadow-black/60 bg-white"
                >
                  <div
                    class="flex justify-center items-center w-full flex-col gap-2 image-upload"
                  >
                    <div
                      class="flex justify-center items-center w-52 h-24 c-md:w-64 c-md:h-32"
                    >
                      <img
                        src="{{url_for('static', filename='./src/assets/Banner Digital Advertising.webp')}}"
                        alt=""
                        class="profile-image w-full h-full rounded-xl object-fit"
                      />
                    </div>

                    <div class="flex gap-0.5 justify-center items-center">
                      <div class="flex">
                        <input
                          type="file"
                          name="file"
                          id="sign_In_1"
                          class="hidden photo-upload"
                        />
                        <label
                          for="sign_In_1"
                          class="flex bg-[#5c0931] hover:bg-white hover:text-[#5c0931] hover:border border-[#5c0931] p-1 px-2 cursor-pointer text-xs sm:text-sm font-medium whitespace-nowrap border rounded-xl text-white"
                          >Upload New</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Opened Job Post -->
            <div
              class="flex flex-col gap-2 items-center justify-center bg-gray-100 px-3 py-4 rounded-xl shadow-sm shadow-black/40"
            >
              <div class="flex justify-start items-start">
                <h4 class="text-base lg:text-xl font-bold b-color">
                  Update Opened-Job-Post Images
                </h4>
              </div>
              <div class="flex justify-center items-center flex-wrap gap-6">
                <!-- card 1  -->
                <div
                  class="flex justify-between border px-4 py-2 rounded-xl shadow-sm shadow-black/60 bg-white"
                >
                  <div
                    class="flex justify-center items-center w-full flex-col gap-2 image-upload"
                  >
                    <div
                      class="flex justify-center items-center w-52 h-24 c-md:w-64 c-md:h-32"
                    >
                      <img
                        src="{{url_for('static', filename='./src/assets/Banner Digital Advertising.webp')}}"
                        alt=""
                        class="profile-image w-full h-full object-fit rounded-xl"
                      />
                    </div>

                    <div class="flex gap-0.5 justify-center items-center">
                      <div class="flex">
                        <input
                          type="file"
                          name="file"
                          id="sign_In_1"
                          class="hidden photo-upload"
                        />
                        <label
                          for="sign_In_1"
                          class="flex bg-[#5c0931] hover:bg-white hover:text-[#5c0931] hover:border border-[#5c0931] p-1 px-2 cursor-pointer text-xs sm:text-sm font-medium whitespace-nowrap border rounded-xl text-white"
                          >Upload New</label
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <!-- card 2  -->
                <div
                  class="flex justify-between border px-4 py-2 rounded-xl shadow-sm shadow-black/60 bg-white"
                >
                  <div
                    class="flex justify-center items-center w-full flex-col gap-2 image-upload"
                  >
                    <div
                      class="flex justify-center items-center w-52 h-24 c-md:w-64 c-md:h-32"
                    >
                      <img
                        src="{{url_for('static', filename='./src/assets/Banner Digital Advertising.webp')}}"
                        alt=""
                        class="profile-image w-full h-full rounded-xl object-fit"
                      />
                    </div>

                    <div class="flex gap-0.5 justify-center items-center">
                      <div class="flex">
                        <input
                          type="file"
                          name="file"
                          id="sign_In_1"
                          class="hidden photo-upload"
                        />
                        <label
                          for="sign_In_1"
                          class="flex bg-[#5c0931] hover:bg-white hover:text-[#5c0931] hover:border border-[#5c0931] p-1 px-2 cursor-pointer text-xs sm:text-sm font-medium whitespace-nowrap border rounded-xl text-white"
                          >Upload New</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </main>

      <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
      <script>
        const menuBtn = document.getElementById("menu-btn");
        const menu = document.getElementById("menu");
  
        menuBtn.addEventListener("click", () => {
          menu.classList.toggle("hidden");
          menuBtn.classList.toggle("active");
        });
  
        // Event delegation for image upload previews
        document.addEventListener("change", (event) => {
          if (event.target.classList.contains("photo-upload")) {
            const file = event.target.files[0];
            if (file) {
              const reader = new FileReader();
              reader.onload = (e) => {
                const profileImage = event.target
                  .closest(".image-upload")
                  .querySelector(".profile-image");
                profileImage.src = e.target.result;
              };
              reader.readAsDataURL(file);
            }
          }
        });
      </script>
      {% endblock %}