<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='./src/styles/output.css')}}" />
    <title>{% block title %} {% endblock %} | Qatar Jobs Portal</title>
  </head>
  <body> 
    <header class="w-full flex justify-center">
    <div
      class="fixed head-foot-width top-0 w-full z-50 h-12 b-bg-color text-white border-b-4 border-white px-4 md:px-10"
    >
      <div class="flex justify-between items-center h-full">
        <!-- Logo -->
        <a href="./" class="flex flex-shrink-0">
          <img
            src="{{url_for('static', filename='./src/assets/qjp-logo.webp')}}"
            alt="qjp logo"
            class="w-28"
          />
        </a>
  
        <!-- Profile and Hamburger Menu -->
        <div class="flex items-center gap-4">
  
          <!-- Links for About & Contact (Hidden on Small Screens) -->
          <div
            id="menu"
            class="absolute top-12 left-0 w-full bg-[#5c0931] bg-opacity-90  hidden flex flex-col gap-2 text-xs px-2 py-2"
          >
            
            <a
              href="./"
              class="underline text-white"
              >Home</a
            >
            <a
              href=""
              class="underline text-white"
              >Send Alert</a
            >
            <a
              href="./admin_user_management"
              class="underline text-white"
              >User Management</a
            >
            <a
              href="./admin_employer_registration"
              class="underline text-white"
              >Register Employer</a
            >
            <a
              href=""
              class="underline text-white"
              >Log Out</a
            >
          </div>
  
          <!-- Hamburger Icon -->
          <button
            id="menu-btn"
            class="flex flex-col justify-between w-6 h-6"
          >
            <span
              class="block w-6 h-1 bg-white transition-transform origin-center menu-line  duration-500 ease-in-out"
            ></span>
            <span
              class="block w-6 h-1 bg-white transition-opacity menu-line"
            ></span>
            <span
              class="block w-6 h-1 bg-white transition-transform origin-center menu-line"
            ></span>
          </button>
        </div>
      </div>
    </div>
  </header>

  {% block body %} {% endblock %}

  <footer class="px-0 w-full flex justify-center">
    <div
      class="h-12 fixed bottom-0 z-50 flex gap-2 text-white items-center justify-between w-full head-foot-width px-4 md:px-10 py-1 bg-[#5c0931] bg-opacity-90"
    >
      <a
        href="./"
        class="flex flex-col items-center gap-1 md:gap-1.5"
      >
        <img src="{{url_for('static', filename='./src/assets/find-talent.svg')}}" alt="" class="h-4 md:h-5" />
        <span
          class="font-medium text-xs sm:text-sm text-white tracking-tight footer-leading"
          >Home</span
        >
      </a>

      <a href="" class="flex flex-col items-center gap-1 md:gap-1.5">
        <img src="{{url_for('static', filename='./src/assets/post-job.svg')}}" alt="" class="h-4 md:h-5" />
        <span
          class="font-medium text-xs sm:text-sm text-white tracking-tight footer-leading"
          >Send Alert
        </span>
      </a>

      <a href="" class="flex flex-col items-center gap-1 md:gap-1.5">
        <img
          src="{{url_for('static', filename='./src/assets/business-ads.svg')}}"
          alt=""
          class="h-4 md:h-5"
        />
        <span
          class="font-medium text-xs sm:text-sm text-white tracking-tight footer-leading"
          >User Management</span
        >
      </a>

      <a
        href="admin_employer_registration"
        class="flex flex-col items-center gap-1 md:gap-1.5"
      >
        <img src="{{url_for('static', filename='./src/assets/contact-us.svg')}}" alt="" class="h-4 md:h-5" />
        <span
          class="font-medium text-xs sm:text-sm text-white tracking-tight footer-leading"
          >Register Employer
        </span>
      </a>
    </div>
  </footer>
</div>


</body>
</html>
